<footer class="main-footer">
    <div class="list-info">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="https://framework-gb.cdn.gob.mx/gobmx/img/logo_blanco.svg" alt="Logo Gobierno de México" class="logo_footer" style="max-width: 90%;">
          </div>
          <div class="col-sm-3" style="padding-left: 0;">
            <h5>Enlaces</h5>
            <ul>
              <li><a href="https://participa.gob.mx" target="_blank" rel="noopener">Participa</a></li>
              <li><a href="https://www.gob.mx/publicaciones" target="_blank" rel="noopener">Publicaciones Oficiales</a></li>
              <li><a href="http://www.ordenjuridico.gob.mx" target="_blank" rel="noopener">Marco Jurídico</a></li>
              <li><a href="https://consultapublicamx.inai.org.mx/vut-web/" target="_blank" rel="noopener">Plataforma Nacional de Transparencia</a></li>
              <li><a href="https://alertadores.funcionpublica.gob.mx/" target="_blank" rel="noopener">Alerta</a></li>
              <li><a href="https://sidec.funcionpublica.gob.mx" target="_blank" rel="noopener">Denuncia</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h5>¿Qué es gob.mx?</h5>
            <p>Es el portal único de trámites, información y participación ciudadana. <a href="https://www.gob.mx/que-es-gobmx">Leer más</a></p>
            <ul>
              <li><a href="https://datos.gob.mx">Portal de datos abiertos</a></li>
              <li><a href="https://www.gob.mx/accesibilidad">Declaración de accesibilidad</a></li>
              <li><a href="https://www.gob.mx/privacidadintegral">Aviso de privacidad integral</a></li>
              <li><a href="https://www.gob.mx/privacidadsimplificado">Aviso de privacidad simplificado</a></li>
              <li><a href="https://www.gob.mx/terminos">Términos y Condiciones</a></li>
              <li><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion">Política de seguridad</a></li>
              <li><a href="https://www.gob.mx/sitemap">Mapa de sitio</a></li>
            </ul>
          </div>
          <div class="col-sm-3" style="padding-left: 0;">
            <h5><a href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54">Denuncia contra servidores públicos</a></h5>
            <h5>Síguenos en</h5>
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/gobmexico" target="_blank" rel="noopener"><img src="https://framework-gb.cdn.gob.mx/landing/img/facebook.png" alt="Facebook"></a></li>
              <li><a href="https://twitter.com/GobiernoMX" target="_blank" rel="noopener"><img src="https://framework-gb.cdn.gob.mx/landing/img/twitter.png" alt="Twitter"></a></li>
              <li><a href="https://www.instagram.com/gobmexico/" target="_blank" rel="noopener"><img src="https://framework-gb.cdn.gob.mx/landing/img/instagram.png" alt="Instagram"></a></li>
              <li><a href="https://www.youtube.com/@gobiernodemexico" target="_blank" rel="noopener"><img src="https://framework-gb.cdn.gob.mx/landing/img/youtube.png" alt="YouTube"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  