.container {
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
    max-width: 100%; /* Evita que se aplique un tama침o m치ximo */
    padding: 0; /* Elimina cualquier relleno que pueda afectar el tama침o */
    margin: 0; /* Elimina cualquier margen que pueda afectar el tama침o */

}