/* Background and alignment */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('../../../assets/imagine/dgti.jpeg') no-repeat center center fixed;
    background-size: cover;
  }
  .form-button-alt {
  margin-top: 10px;
  background-color: #4B6587;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.form-button-alt:hover {
  background-color: #3b4f6e;
}
  
  .min-h-screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Form container */
  .form-container {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 380px;
  }
  
  /* Title */
  .form-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: #991b1b;
    margin-bottom: 1.5rem;
  }
  
  /* Labels */
  .form-label {
    display: block;
    font-size: 0.875rem;
    color: #7f1d1d;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  /* Input fields */
  .form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    font-size: 0.875rem;
    color: #374151;
    background-color: #ffffff;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .form-input:focus {
    border-color: #b91c1c;
    box-shadow: 0 0 0 3px rgba(185, 28, 28, 0.2);
  }
  
  /* Button */
  .form-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #b91c1c;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .form-button:hover {
    background-color: #991b1b;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .form-error {
    color: #D8000C; /* Rojo vibrante */
    background-color: #FFD2D2; /* Fondo rojo suave */
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  