<!-- Menú lateral -->
<div #sideMenu class="lateral">

  <!-- Combobox para seleccionar un estado  
   EL CHANGE es para mandar llamar el otro metodo de inmediato por eso te aparecen los datos sin dar al boton enviar -->


  <!-- Combobox de municipio filtrado -->
  <select class="menu-select" [(ngModel)]="rutaSeleccionada" (change)="onRutaSeleccionada($event)">
    <option value="">Ruta</option>
    <option *ngFor="let ruta of rutas" [value]="ruta.ID_Ruta">
      {{ ruta.Nombre }} - {{ ruta.Descripcion }}
    </option>
  </select>

    <select class="menu-select" [(ngModel)]="codigoPostalSeleccionado" (change)="onCodigoPostalSeleccionado($event)">
    <option value="">Código Postal</option>
    <option *ngFor="let cp of codigosPostales" [value]="cp.codigo_postal">
      {{ cp.codigo_postal }}
    </option>
  </select>



    <select class="menu-select" [(ngModel)]="rutaSeleccionada" (change)="onRutaSeleccionada($event)">
    <option value="">Colonias</option>
    <option *ngFor="let ruta of rutas" [value]="ruta.ID_Ruta">
      {{ ruta.Nombre }} - {{ ruta.Descripcion }}
    </option>
  </select>

    <select class="menu-select" [(ngModel)]="rutaSeleccionada" (change)="onRutaSeleccionada($event)">
    <option value="">Turno</option>
    <option *ngFor="let ruta of rutas" [value]="ruta.ID_Ruta">
      {{ ruta.Nombre }} - {{ ruta.Descripcion }}
    </option>
  </select>
  
  <!-- Campo para ingresar el código postal -->
  <div class="codigoP">
    <input type="text" class="codigo" placeholder="Código Postal" inputmode="numeric" oninput="this.value=this.value.replace(/[^0-9]/g,'')" [(ngModel)]="codigoP">
  </div>

  <!-- Botón Generar -->
  <div class="generar">
    <button (click)="enviarCodigo()" type="button" class="btn btn-outline-info">ENVIAR</button>
  </div>

  <div class="reporte">
    <button type="button" class="btn btn-primary">REPORTE</button>
  </div>

</div>

