/* You can add global styles to this file, and also import other style files */
/* styles.css */

/* Contenedor principal */
.contenedor-principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
