<!-- src/app/my-table/my-table.component.html -->
<div class="table-wrapper">
   
    <div #tableContainer class="tableT">
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">Number</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">1</th>
            <td>TABLA</td>
            <td>&#64;TABLA</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">2</th>
            <td>UNI</td>
            <td>&#64;UNI</td>
          </tr>
          <tr class="table-secondary">
            <th scope="row">3</th>
            <td>DOS</td>
            <td>&#64;DOS</td>
          </tr>
          <tr class="table-success">
            <th scope="row">4</th>
            <td>...</td>
            <td>&#64;SUCCESS</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">5</th>
            <td>...</td>
            <td>&#64;DANGER</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">6</th>
            <td>...</td>
            <td>&#64;WARNING</td>
          </tr>
          <tr class="table-info">
            <th scope="row">7</th>
            <td>...</td>
            <td>&#64;INFO</td>
          </tr>
          <tr class="table-light">
            <th scope="row">8</th>
            <td>...</td>
            <td>&#64;LIGHT</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">9</th>
            <td>...</td>
            <td>&#64;DARK</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">9</th>
            <td>...</td>
            <td>&#64;DARK</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">9</th>
            <td>...</td>
            <td>&#64;DARK</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">9</th>
            <td>...</td>
            <td>&#64;DARK</td>
          </tr>

        </tbody>
      </table>
    </div>
    

   <div class="legend">
  <div class="legend-item">
    <div class="box recent"></div>
    <span>Reciente</span>
  </div>
  <div class="legend-item">
    <div class="box almost-expired"></div>
    <span>Casi vencido</span>
  </div>
  <div class="legend-item">
    <div class="box expired"></div>
    <span>Vencido</span>
  </div>
</div>

  </div>
  