<!-- src/app/my-table/my-table.component.html -->
<div class="table-wrapper">
   
    <div #tableContainer class="tableT">
      <table class="table">
        <thead>
          <tr class="table-active">
            <th *ngFor="let header of headers" scope="col">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of datosTabla" [ngClass]="item.color">
            <th scope="row">{{ item.number }}</th>
            <td>{{ item.first }}</td>
            <td>{{ item.last }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    

   
    
   <div class="legend" >
  <div class="legend-item">
    <div class="box recent"></div>
    <span>Reciente</span>
  </div>
  <div class="legend-item">
    <div class="box almost-expired"></div>
    <span>Casi vencido</span>
  </div>
  <div class="legend-item">
    <div class="box expired" ></div>
    <span>Vencido</span>
  </div>
  <button (click)="generarPDF()" >Generate</button>
</div>

  </div>
  